body{
    margin: 0%;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}
.justify{
text-align: justify;
}
.side{
    display: flex;
}
.blue{
    color: #1A73E8;
}
h1{
    font-size: 50px;
}
.box{
    width: 50%;
    padding: 5%;

}
.box img{
    width: 80%;
}
.first-font{
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
}
.side-bar{
    border-left:#1A73E8 4px solid;
    padding-left:5% ;
}

.link{
    text-decoration: none;
    color: wheat;
    font-weight: 800;
    background-color:#1A73E8;
    padding: 15px 10px;
    border-radius: 5px;   
}

.misson{
    color: rgb(0, 0, 19);
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.misson-box{
width: 50%;
padding: 5%;
margin:3%;
}
.misson-box img{
    width: 35%;
}

#misson1{
    background-color: rgba(135, 207, 235, 0.205);
    border-radius: 5%;   
}

#misson2{
    background-color: rgba(255, 192, 203, 0.397);
    border-radius: 5%;
}
#misson3{
    background-color: rgba(255, 166, 0, 0.301);
    border-radius: 5%;
}
.bg-img{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 250px;
}

.block{
    display: block;
}
.bg-img2{
    background-image: url(images/shapes/shape-3.png);
    background-repeat:no-repeat;
    background-size: 200px;
}

.bg-img3{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: bottom right;
}

#app{
    width: 40%;
    margin-left: 15%;
}

#footer{
    background-color: rgb(0, 0, 17);
    padding: 2%;
    
}

.white{
    color: wheat;
    text-align: center;
}
